body{
	background-color: gainsboro;
	padding-top: 130px;
	padding-left: 264px;
}

.col-md-8{
	border-radius: 30px; 
	width: 500px;
	height: 250px; 
	box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.2); 
	background-color: rgb(58, 52, 52);
}

nav{
	width: 86px; 
	padding-top: 112px; 
	max-width: 162px; 
	float: right; 
	border-top-right-radius: 27px; 
	border-bottom-right-radius: 27px; 
	background-color: deepskyblue;
}

h1{
	text-align: center; color: white;
}

a{
	text-align: center; color: white;
}


h2{
	color: white;
	padding-top: 25px; 
	padding-left: 40px;
}
hr{
	border-width: 1px 0px;
	 border-style: inset none solid; 
	 border-color: rgba(0, 0, 0, 0) currentColor rgba(255, 255, 255, 0.1); 
	 height: 0px;
}

.form-group{padding-left: 123px;
	color: white; 
	padding-top: 24px; 
	padding-left: 32px;
}



#input{
	background-position: 135px; 
	border-radius: 10px; 
	width: 164px; height: 30px; 
	background-repeat: no-repeat;
}
.RememberMe{
	 width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
 background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
